<% if object.errors.any? %>
<%= pluralize(object.errors.count, "error") %>
prohibited this form from being saved:
<% object.errors.full_messages.each do |message| %>
<ul></ul>
<li>
  <%= message %>
  <% end %>
</li>
<% end %>
